<%= link_to category_path(category_name),
      class: 'inline-block border-2 border-green-200 hover:border-green-400 bg-green-50 text-green-800 px-1',
      rel: 'category' do %>
  <span class="font-bold">
    <%= t :name,
          scope: [:categories, category_name],
          default: category_name
    %>
  </span>
  <span>
    <%= number_to_percentage(category_ratio * 100, precision: 0) %>
  </span>
<% end %>
