<ul>
  <% tags_cats = @tags.map { |t| render TagLinkComponent.new(tag: t) } \
      + @categories.sort_by(&:last).reverse.map { |c| render CategoryLinkComponent.new(category: c) } %>
  <% tags_cats.each do |x| %>
    <li class="inline">
      <%= x %>
    </li>
  <% end %>
</ul>
