<div
  class="w-full grid auto-rows-max gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 pb-1"
  itemscope
  itemtype="https://schema.org/ItemList"
>
  <meta itemprop="numberOfItems" content="<%= @packages.total_count %>">
  <% @packages.each_with_index do |package, i| %>
    <%= render PackageCardComponent.new(package: package, position: @first_index + i) %>
  <% end %>
</div>
<%= paginate @packages %>
