<%= link_to tag_path(@tag),
      class: 'inline-block border-2 border-pink-200 hover:border-pink-400 bg-pink-50 text-pink-800 px-1',
      rel: 'tag' do %>
  <span class="font-bold">
    <%= @tag %>
  </span>
<% end %>
