<div data-controller="packages_paginated--component">
  <div data-packages_paginated--component-target="beforeFloating"></div>
  <div
    data-packages_paginated--component-target="pagination"
    class="sticky w-fit transition top-2 float-right mb-2"
  >
    <%= paginate @packages %>
  </div>
  <div
    class="w-full space-y-4 pb-1:
    itemscope
    itemtype="https://schema.org/ItemList"
  >
    <meta itemprop="numberOfItems" content="<%= @packages.total_count %>">
    <% @packages.each_with_index do |package, i| %>
      <%= render PackageCardComponent.new(package: package, position: @first_index + i) %>
    <% end %>
  </div>
  <div data-packages_paginated--component-target="afterLast"></div>
</div>
