<p>
  Including: computer games, game consoles and console games, music used in games,
  video game streamers and bloggers, cyberathletes, game developers
</p>
<p>
  Not including: table games (chess, card games, table tennis),
  TV games (Svoya Igra, Jeopardy!, Pole Chudes, Wheel of Fortune, 100 to 1,
  Family Feud, What? Where? When?, and others)
</p>
