<p>
  Music — questions about songs, melodies and where they appear. Also includes
  tasks where you are required to sing a song.
</p>
<p>
  Including: names of compositions, performers, albums, remixes (mashups, gachi, covers)
</p>
<p>
  Not including: games, films and anime about music when the question is not about
  music itself
</p>
