<p>
  Музыка — вопросы про песни, про мелодии и где они встречаются. Также включает
  задания, где нужно спеть песню.
</p>
<p>
  Включает: азвания композиций, исполнители, альбомы, ремиксы (мэшапы, гачи, каверы)
</p>
<p>
  Не включает: игры, фильмы и аниме про музыку, если сам вопрос не про музыку
</p>
