<p>
  Видеоигры — вопросы про компьютерные игры и всё с ними связанное
</p>
<p>
  Включает: компьютерные игры, консоли и консольные игры, музыку из игр,
  игровых стримеров и блоггеров, киберспортсменов, разработчиков игр
</p>
<p>
  Не включает: настольные игры (шахматы, карточные игры, настольный теннис),
  телевизионные игры (своя игра, поле чудес, 100 к 1, что? где? когда? и т.д.)
</p>
