<p>
  Бирегә кертелә: музыкаль әсерләр исемнәре, башкаручылар, альбомнар, ремикслар
  (мәшаплар, гачи, каверлар).
  Шулай ук җыр җырлау биремнәр дә кертелә.
</p>
<p>
  Бирегә кертелми: музыка турында уеннар, фильмнар һәм аниме, әгәр сорау үзе музыка
  турында булмаса
</p>
