<h2 class="text-xl mt-2">Категория проценты нәрсә аңлата (Аниме 70%)?</h2>
<p>
  Процент пакетның категориягә туры килүен аңлата.
  Хәзер бу сан пакеттагы сорауларның нинди өлеше категориягә
  туры килүен күрсәтә.
</p>
<p>
  Әгәр дә пакет категориягә туры килүвен дәрәҗәсе аз булса, бөтен пакетны категориягә
  туры килми дип саныйбыз (һәм киресенчә). Шулай итеп, "Аниме 0%"
  Аниме категориясенә туры килми.
</p>

<h2 class="text-xl mt-2">Категорияләр исемлеге</h2>
<p>
  Хәзер сайтта иске категорияләр дә (pzl, exact, meme һ.б.)
  һәм яңа категорияләр дә (Аниме) бар.
</p>
<p>
  Иске категорияләр инде берникадәр вакыт билгеләнми һәм яңаларын алыштырачак.
</p>
<p>
  Әгәр дә сез ниндидер категория өстәргә телисез икән, тәкъдимегез турында
  <%= link_to 'безнең фикерләшүдә', 'https://vk.com/topic-204752566_48973630',
    class: 'font-bold' %>.
  уйларга шат булырбыз.
</p>

<h2 class="text-xl mt-2">Фикерләр һәм сораулар</h2>
<p>
  Әгәр дә берәр пакет дөрес классификацияләнмәгән булса
  яки сезнең башка сораулар һәм тәкъдимнәрегез булса,
  без алар турында
  <%= link_to 'безнең фикерләшүдә', 'https://vk.com/topic-204752566_48973630',
    class: 'font-bold' %>.
  сөйләшергә шат булырбыз
</p>
