<h2 class="text-xl mt-2">Что значит процент в категории (Аниме 70%)?</h2>
<p>
  Процент показывает насколько пакет соответствует категории. Сейчас
  это число показывает, какая часть вопросов в пакете классифицирована
  в соответствующую категорию.
</p>
<p>
  Если пакет мало соответствует категории, то мы считаем, что весь пакет
  не соответствует категории (и наоборот). Таким образом, "Аниме 0%"
  не соответствует категории Аниме.
</p>

<h2 class="text-xl mt-2">Список категорий</h2>
<p>
  Сейчас на сайте есть старые категории (pzl, exact, meme и т.д.) и новые категории (Аниме).
</p>
<p>
  Старые категории не размечаются уже некоторое время и будут заменяться новыми.
</p>
<p>
  Если вы хотите, чтобы добавилась новая категория, то будем рады
  обсудить предложение в
  <%= link_to 'нашем обсуждении', 'https://vk.com/topic-204752566_48973630',
   class: 'font-bold' %>.
</p>

<h2 class="text-xl mt-2">Обсуждение и вопросы</h2>
<p>
  Если какой-то пакет был классифицирован неправильно
  или у вас есть другие вопросы и предложения, то будем рады их обсудить в
  <%= link_to 'нашем обсуждении', 'https://vk.com/topic-204752566_48973630',
  class: 'font-bold' %>.
</p>

