<h2 class="text-xl mt-2">What does the percentage mean (Anime 70%)?</h2>
<p>
  The number signifies how relevant is a package to the category.
  Currently it is the percentage of questions in the package which are
  classified as relevant to the category.
</p>
<p>
  If relevance is too low, then we consider that the whole package
  does not contain the category (and vice versa). This way "Anime 0%"
  does not contain the Anime category.
</p>

<h2 class="text-xl mt-2">The list of categories</h2>
<p>
  Currently there are old categories (hum, pzl, exact and so on) and
  new categories (Anime).
</p>
<p>
  Old categories were not awarded to packages for some time now and will
  be deprecated in favor of new categories.
</p>
<p>
  If you want a category to be added to the list, we will be glad to discuss
  it in
  <%= link_to 'our discussion topic', 'https://vk.com/topic-204752566_48973630',
         class: 'font-bold' %>.
</p>

<h2 class="text-xl mt-2">Discussions and questions</h2>
<p>
  If you find that some package was miscategorized or you have
  other questions and suggestions, we will be pleased to discuss them in
  <%= link_to 'our discussion topic', 'https://vk.com/topic-204752566_48973630',
    class: 'font-bold' %>.
</p>
